*.csv
*.pkl
.venv*
data
*.db
mlartifacts*
__pycache__/
*.pyc
services/models/model.pkl      
services/prometheus/data/        
services/grafana/data/         
services/database/data/        
services/database/pgadmin/ 
